.container {
    -fx-background-color: #F2FFE9;
    -fx-pref-width: 1000px;}

.table-view {
    -fx-background-color: white;
     -fx-border-color: #EDEDED;
    -fx-border-width: 1px; }

.table-view .column-header {
    -fx-background-color: #1B4332;
    -fx-border-color: white;
    -fx-border-width: 1px; }

.table-view .column-header .label {
    -fx-text-fill: white; }

.input_label {
    -fx-font-size: 13px;
    -fx-fill: #000000; }

.btn {
    -fx-background-color: #1B4332;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand; }

.btn FontAwesomeIconView {
    -fx-fill: white;
    -fx-font-size: 13px; }